{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<form method="POST" hx-post="{{url}}" hx-refresh="true" hx-swap="outer">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% translate "Close" %}</button>
        <button type="submit" class="p-2 btn btn-danger">{% translate "Delete" %}</button>
    </div>
</form>
