

{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
        <div class="page-inner">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">{{title}}</h4>
						</div>
						<div class="card-body">
							{% crispy form %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
